@using Rozklad.Core
@using Rozklad.Repository.Dto.ClassDto
@model IEnumerable<ClassRoom>

@{
    Layout = "/Views/Shared/_DashminBlankLayout.cshtml";
}

<div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">List Classes</h6>
                            <table class="table">
                                <thead>
        <tr>
            <th scope="col"><input class="form-check-input" type="checkbox"></th>
            <th scope="col">ClassId</th>
            <th scope="col">ClassName</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach(var u in Model)
        {
            <tr>
                <td><input class="form-check-input" type="checkbox"></td>
                 <td>@u.ClassRoomId </td>
                <td>@u.ClassRoomName </td>
                
            </tr>
        }
    </tbody>
</table>