@using Rozklad.Core
@using Rozklad.Repository.Dto.ClassDto
@model IEnumerable<ClassRoom>

@{
}

<div class="float-end">
    <a href="/users/create" class="btn btn-outline-primary">Додати класс</a>
</div>


<h1>Список класів</h1>
<hr />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ClassId</th>
            <th>ClassName</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach(var u in Model)
        {
            <tr>
                 <td>@u.ClassRoomId </td>
                <td>@u.ClassRoomName </td>
                
                
                <td>
                    <a href="/users/edit/@u.ClassRoomId" class="btn btn-warning">Редагувати</a>
                    <a href="/users/delete/@u.ClassRoomId" class="btn btn-danger">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>