@using Rozklad.Repository.Dto.CabinetDto

@model CabinetReadDto

@{
}


<h1>Видалити користувача?</h1>
<hr />

<p>@Model.CabinetId@Model.Name</p>


<hr />
<form asp-action="ConfirmDelete" class="col-md-4">
    @Html.AntiForgeryToken()
    <input asp-for="CabinetId" type="hidden" />
    <button type="submit" class="btn btn-danger">Видалити користувача!!!</button>
    <a href="/cabinet/index" class="btn btn-outline-dark">Повернутися до списку / Відмінити</a>
</form>
