@using Rozklad.Core
@using Rozklad.Repository.Dto.CabinetDto
@model IEnumerable<Cabinet>

@{
}

<div class="float-end">
    <a href="/cabinet/create" class="btn btn-outline-primary">Додати кабінет</a>
</div>


<h1>Список кабінетів</h1>
<hr />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>CabinetId</th>
            <th>Name</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach(var u in Model)
        {
            <tr>
                <td>@u.CabinetId </td>
                <td>@u.CabinetName </td>
                
                
                <td>
                    <a href="/users/edit/@u.CabinetId" class="btn btn-warning">Редагувати</a>
                    <a href="/users/delete/@u.CabinetId" class="btn btn-danger">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>