@using Rozklad.Repository.Dto.LessonDto

@model LessonReadDto

@{
}


<h1>Видалити користувача?</h1>
<hr />

<p>@Model.LessonId @Model.LessonName</p>


<hr />
<form asp-action="ConfirmDelete" class="col-md-4">
    @Html.AntiForgeryToken()
    <input asp-for="LessonId" type="hidden" />
    <button type="submit" class="btn btn-danger">Видалити користувача!!!</button>
    <a href="/users/index" class="btn btn-outline-dark">Повернутися до списку / Відмінити</a>
</form>
