@using Rozklad.Repository.Dto.DayDto
@model IEnumerable<DayReadDto>

@{
}

<div class="float-end">
    <a href="/days/create" class="btn btn-outline-primary">Додати день</a>
</div>


<h1>Список днів</h1>
<hr />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>DayId</th>
            <th>DayName</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach(var u in Model)
        {
            <tr>
                 <td>@u.DayId </td>
                <td>@u.DayName </td>
                
                
                <td>
                    <a href="/users/edit/@u.DayId" class="btn btn-warning">Редагувати</a>
                    <a href="/users/delete/@u.DayId" class="btn btn-danger">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
